
$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

.card{
  display: flex;
  width:100%;
  padding:15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 2px rgba(0,0,0,0.1);
  margin:2px 0px 10px 0px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ccc;
  color:#323232;  
  height:40px;
}
.nav span{
  margin:10px;
}
.title-card{
  display: flex;
  flex-direction: row;
  align-items: center;  
  width:100%;
}
.title-card > span:nth-child(1){
  margin-right:5px;
  width:40%;
}
.title-card > span:nth-child(2){  
  width:100%;  
}
.img-thumb{
  display: flex;
  width:80px;
  height:80px;
  margin:4px;
  border-radius: 100%;
}
.box-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  background: #f6f6f6;
  border-radius: 10px;
  padding:15px;
  margin-bottom:20px;
}
.search{
  display: flex;
  width:100%;
  border:none;
  height:50px;
  padding-left:10px;
  align-items: center;
  background: transparent;
  border-bottom:1px solid #323232;
  margin-bottom: 15px;
}
.search:focus::-webkit-input-placeholder{
  color:transparent;
}
.social{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.social div{
  display: flex;
  align-items: center;
  margin:3px;
  color:#ccc;
}
.social div span{
  display: flex;
  align-items: center;
  margin:3px;
  color:#ccc;
}
.wrap-buttons{
  display: flex;
  width:100%;
  justify-content: space-between;
}
.wrap-buttons span{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #019FDA;
  border-radius:5px;
  width:45%;
  height:45px;
}